dropbox_referral_url="https://db.tt/xxxxxxxx"
account_email="asdf+drpbx%d@gmail.com"
account_password="123123"

# Do not touch the configuration below except if you know what you're doing
action="both"
logging="none"
anonymity="true"
provider="virtualbox"
timeout=60
location="us"
